.bg-body-tertiary{
    background-color:#291892 !important;
   padding: 0 !important;
   color: white;

}
.li-none ul li{
    list-style: none;

}
.toggle-btn{
    background:white;
    border-color: white;
}

.cuet-pg{
    background:#291892 ;
    color: azure;
}
.Predictor-box{
    background: #F7F7F7;
    border-radius: 3px;
    border: 1px solid #E9E9EC;
}
.btn{
    background-color: #291892;
    color: white;
}
.box-details{
    border: 1px solid white;
    box-shadow: 0px 0px 5px 0px rgb(181, 181, 181);
    background-color: #F7F7F7;
}
.btn-detail{
    background-color: white;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgb(181, 181, 181);
    font-size: 15px;
}
.btn-detail-01{
    background-color: white;
    color: #291892;
    border-radius: 16px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgb(181, 181, 181);
    font-size: 18px;
}
.btn-view-all{
    background-color: #291892;
    color: white;
    border: none;
    border-radius: 4px;
    width: 167px;
    height: 37px;
}

/* --Footer-- */
.Newsletter{
    background: linear-gradient(210.84deg, rgba(51, 0, 204, 0.08) -52.8%, rgba(244, 180, 163, 0.11) 40.08%, rgba(175, 244, 198, 0.35) 110.16%);
     width: auto;
     min-height: 250px;
  }
  .footer-bg{
    background: black;
    color: white;
  }
  .li-name li{
    list-style: none;
  }


  /* @media only screen and (max-width: 900px) {
    section{
      border: none;
      border-left: none
    }
  } */